.parent {
    height: 400vh;
    position: relative;
}

.inner {
    /* The image used */
    background: url("./assets/background-c.jpg") center center no-repeat;
    background-size: cover;


    /* Full height and width */
    height: 100vh;
    width: 100vw;

    /* Center and scale the image nicely
    background-position: center;
    background-repeat: no-repeat;
    */

    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    width: 25vw;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}